<%- include("./partials/header.ejs")%>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" />
<%- include("./partials/sidebar.ejs")%>
        <main class="main-wrap">
            <%- include("./partials/nav.ejs")%>
            
            <section class="content-main">
                <div class="row">
                    <div class="col-9">
                        <div class="content-header">
                            <h2 class="content-title">Add Offer</h2>
                            <div>
                                <button class="btn btn-light rounded font-sm mr-5 text-body hover-up"  id="offersubmitbtn" type="button" >Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="mb-4">
                                    <label for="product_title" class="form-label">Offer name</label>
                                    <input type="text" placeholder="Type here" class="form-control" id="offername" />
                                </div>
                                <div class="row gx-3">
                                    <label class="form-label">Category</label>
                                    <select class="form-select" id="offercategory" >
                                        <option value="active">active</option>
                                        <option value="inactive">inactive</option>
                                    </select>
                                    <div class="d-flex justify-content-between mt-3">
                                    <div class="col-md-5 mb-4">
                                        <label for="product_color" class="form-label">Discount percentage</label>
                                        <input type="text" placeholder="Type here" class="form-control" id="offerdiscountperecentage" />
                                    </div>
                                    <div class="col-md-5 mb-4">
                                        <label class="form-label">Expiry Date</label>
                                        <input type="text" placeholder="Type here" class="form-control" id ="offerexpirydate" />
                                    </div>
                                </div>
                                    <div class=" col-md-10 mb-10">
                                        <label class="form-label " >Category description</label>
                                       <textarea  id="offerdescription" cols="60" rows="3"></textarea>
                                    </div>
                                   
                                </div>
                                 
                            </div>
                        </div>
                        <!-- card end// -->
                    </div>
                    <div class="col-lg-3">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="mb-4">
                                    <label class="form-label">Status</label>
                                    <select class="form-select" id="offerstatus" >
                                        <option value="active">active</option>
                                        <option value="inactive">inactive</option>
                                    </select>
                                    <label class="form-label">Upload banner</label>
                                    <input class="form-control" type="file"  
                                    name="files"  id="image-input"/>
                                   
                                </div>
                                <hr />
                              
                              
                            </div>
                            <div id="errormessage" class="text-danger fw-bold p-3"></div>

                        </div>
                        <!-- card end// -->
                       
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <label class="form-label fw-bolder ">Image preview</label>
                            <div class="card col-10" style="width:500px;height:500px">
                            <img src="" alt="" class="img-thumbnail "></div>
                        </div>
                    </div> 
                </div>
            </section>
       
        <!-- Modal -->
<div class="modal fade" id="croppedModal" tabindex="-1" role="dialog" aria-labelledby="croppedModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="croppedModalLabel">Crop Image</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="" id="croppedImage" alt="Cropped Image">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal()">Cancel</button>
          <button type="button" class="btn btn-primary" id="cropButton">Crop</button>
        </div>
      </div>
    </div>
  </div>
    <%- include("./partials/footer.ejs")%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
    
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  
   
<script>
document.addEventListener('DOMContentLoaded',function(){
const imageInput = document.getElementById('image-input');
const croppedImage = document.getElementById('croppedImage');
const croppedModal = document.getElementById('croppedModal');
const cropButton = document.getElementById('cropButton');
let croppedImageData;
let cropper;


imageInput.addEventListener('change', (e) => {
  const file = e.target.files[0];
  const reader = new FileReader();

  reader.onload = () => {
    croppedImage.src = reader.result;
    croppedModal.classList.add('show');
    croppedModal.style.display = 'block';

    if (cropper) {
      cropper.destroy();
    }

    cropper = new Cropper(croppedImage, {
      aspectRatio: 16 / 9, // Set the desired aspect ratio for the cropped image
      viewMode: 2,
      guides: true,
      autoCropArea: 0.8,
      movable: true,
      zoomable: true,
      rotatable: true,
      scalable: true
    });
  };


// Close the modal when the "Close Modal" button is clicked
cropButton.addEventListener('click', () => {
  const croppedCanvas = cropper.getCroppedCanvas();
  croppedImageData = croppedCanvas.toDataURL('image/jpeg');

  // Update the preview image with the cropped image
  const previewImage = document.querySelector('.img-thumbnail');
  previewImage.src = croppedImageData;
  // Get the modal element
  const modalElement = document.getElementById('croppedModal');
    console.log(modalElement)
    croppedModal.classList.remove('show');
    croppedModal.style.display = 'none';
  // Get the modal instance
  const modal = new bootstrap.Modal(modalElement);

  // Close the modal when the "Crop" button is clicked
  modal.hide();
});

 
  reader.readAsDataURL(file);
});


document.getElementById('offersubmitbtn').addEventListener('click',function(){
    console.log('hii');
   const name = document.getElementById('offername').value;
   const status =document.getElementById('offerstatus').value;
   const discountperecentage =document.getElementById('offerdiscountperecentage').value;
   const expirydate =document.getElementById('offerexpirydate').value;
   const description = document.getElementById('offerdescription').value;
   const category = document.getElementById('offercategory').value
   const image = document.getElementById('image-input').files[0];
   const data={name,status,discountperecentage,expirydate,description,category,image};
    console.log(data);
   const formData = new FormData();
    formData.append('name', name);
    formData.append('status', status);
    formData.append('discountPercentage', discountperecentage);
    formData.append('expiryDate', expirydate);
    formData.append('description', description);
    formData.append('category', category);
    formData.append('image', image);
    console.log(formData);
    axios.post('/admin/croproute', formData, {
    headers: {
        'Content-type': "multipart/form-data"
    }
    }).then(() => {
        console.log('hiii');
    }).catch((err) => {
        console.log('error', err);
    });
});
})
   </script>
    
    