<%- include("./header.ejs")%>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<div style="height:600px" class="d-flex justify-content-center align-items-center ">
<form class="box col-6" id="updatepasswordform">
   
    <div class="field" id="updatepassword">
      <label class="label">New password</label>
      <div class="control">
        <input class="input" type="password" id="pass1" placeholder="********">
      </div>
    </div>

    <div class="field">
        <label class="label">Confirm new password</label>
        <div class="control">
          <input class="input" type="password" id="pass2" placeholder="********">
        </div>
      </div>
      <div id="errorMessage" class="text-danger fw-bolder"></div>
    <button class="button is-primary">Sign in</button>
  </form>
</div>
  <%- include("./footer.ejs")%>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script>
    document.addEventListener('DOMContentLoaded',function(){
        const pass1=document.getElementById('pass1');
        const pass2=document.getElementById('pass2');
        const errorMessage =document.getElementById('errorMessage');
        document.getElementById('updatepasswordform').addEventListener('submit',function(event){
        event.preventDefault();
        if(!pass1.value||!pass2.value)return errorMessage.textContent="Fields cant be empty"
        if(pass1.value!==pass2.value)return errorMessage.textContent="Passwords Doesnt match"
        axios.post('/updatepassword',{password:pass1.value}).then((response)=>{
          if(response.data===true){
            console.log('passwordChanged');
           

            Toastify({
            text: "Password changed succesfully",
            duration: 3000,
            destination: "/login",
            newWindow: true,
            close: true,
            gravity: "top", // `top` or `bottom`
            position: "right", // `left`, `center` or `right`
            stopOnFocus: true, // Prevents dismissing of toast on hover
            style: {
                background: "linear-gradient(to right, #00b09b, #96c93d)",
            },
            onClick: function(){} // Callback after click
            }).showToast();

            setTimeout(function(){
                window.location.href='/'
            },4000);






          }else {
            errorMessage.textContent =response.data;
          }
        }).catch((error)=>{
            console.log(error.message)
        })
    })
    })
   
</script>