<%- include("./header.ejs")%>

	<body>
<style>

.form-container {
    max-width: 400px;
    background-color: #fff;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: #212121;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .logo-container {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 6px;
    font-family: inherit;
    border: 1px solid #ccc;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #1778f2;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    color: #fff;
    background-color: #212121;
    border: none;
    width: 100%;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin: 12px 0;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #313131;
  }
  
  .form-container .link {
    color: #1778f2;
    text-decoration: none;
  }
  
  .form-container .signup-link {
    align-self: center;
    font-weight: 500;
  }
  
  .form-container .signup-link .link {
    font-weight: 400;
  }
  
  .form-container .link:hover {
    text-decoration: underline;
  }
  
  
</style>















<div class="mx-auto d-flex justify-content-center align-items-md-center " style="height: 500px;">
<div class="form-container p-5 ">
    <div class="logo-container">
      Forgot Password
    </div>

    <form class="form" method="post" action="/forgetpassword" id="forgetpasswordform">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="inputemail" name="email" placeholder="Enter your email" required="">
      </div>
      <div class="text-danger " id="errormessage"></div>
      <button class="form-submit-btn" type="submit">Send Email</button>
    </form>

    <p class="signup-link">
      Don't have an account?
      <a href="#" class="signup-link link"> Sign up now</a>
    </p>
  </div>
</div>
<%- include("./footer.ejs")%>
		<!-- End Footer Section -->	


		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/tiny-slider.js"></script>
		<script src="js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const inputemail = document.getElementById('inputemail');
        const forgetpasswordform = document.getElementById('forgetpasswordform');
    
        forgetpasswordform.addEventListener('submit', function(event) {
          event.preventDefault();
          
    
          axios.post(`/forgetpassword`, { email: inputemail.value }) // Use inputemail.value directly here
            .then(response => {
              console.log(response.data)
              if (response.data === true) {
                console.log('valid email');
                window.location.href = "/otp/forgetpassotp";
              } else if (response.data === false) {
                document.getElementById('errormessage').textContent="No accounts found in this mail"
              }
            })
            .catch(error => {
              console.log(error.message);
            });
        });
      });
    </script>
    
	</body>
</html>
