
<body>
   

    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/home">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-products-list.html">
                        <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/products">Products</a>
                    </div>
                    <div class="submenu">
                        <a href="/admin/addproduct">Add product</a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="/admin/orders">
                        <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/orders">Orders</a>
                    </div>
                </li>
               
                <li class="menu-item has-submenu">
                    <a class="menu-link" >
                        <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Users</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/users">Users </a>
                    </div>
                </li>

                <li class="menu-item has-submenu">
                    <a class="menu-link" >
                        <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Category</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/category">Category </a>
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" >
                        <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Coupons</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/coupons">Coupon management</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/reviews">
                        <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/offers">
                        <i class="icon material-icons md-comment"></i>
                        <span class="text">Offers</span>
                    </a>
                </li>
            </ul>
            <hr />
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link"  onclick="openModal()">
                        <i class="icon material-icons md-settings"></i>
                        <span class="text">Logout</span>
                    </a>
                </li>
            </ul>
            <br />
            <br />
        </nav>
    </aside>


    <div id="logoutModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Logout</p>
                <button class="delete" aria-label="close" onclick="closeModal()"></button>
            </header>
            <section class="modal-card-body">
                Are you sure you want to logout?
            </section>
            <footer class="modal-card-foot">
                <button class="button is-danger" onclick="logout()">Logout</button>
                <button class="button" onclick="closeModal()">Cancel</button>
            </footer>
        </div>
      </div>
     
     

      <script>
 
        function openModal() {
            document.getElementById('logoutModal').classList.add('is-active');
        }
      
       
        function closeModal() {
            document.getElementById('logoutModal').classList.remove('is-active');
        }
      
        
       async function logout() {
        console.log('logout');
           axios.get('/admin/logout').then((response)=>{
            if(response.data===true){
              window.location.href="/admin/login"
            }
           }).catch((error)=>{
            console.log(error);
           })
            console.log('Logout action');
            closeModal(); 
        }
      </script>
      